
.mask
  position fixed
  left 0
  top var(--top-safe-area-height)
  z-index var(--z-index-overlay)
  background var(--overlay-mask-bg)
  width 100%
  height calc(100% - var(--top-safe-area-height))

.overlay
  position fixed
  z-index calc(var(--z-index-overlay) + 1)
  background var(--overlay-bg)
  top var(--top-safe-area-height)
  left 0
  width 16em
  height calc(100% - var(--top-safe-area-height))

.currentUser
  padding 32px 16px
  background var(--overlay-user-bg)
  color var(--overlay-user-text)

.action_list
  padding-top 16px
  font-size 20px

  svg
    margin-right 12px
