:root
  --main-color #5c33be
  --error-color #E10505
  --welcome-card-bg white
  --welcome-text white
  --welcome-bg-start #5d33be
  --welcome-bg-end #8f4cd7
  --welcome-nav-height 64px
  --welcome-nav-gap 8px
  --z-index-bottom-nav 8
  --transition-duration 0.5s
  // Button.tsx
  --button-bg var(--main-color)
  --button-bg-danger var(--error-color)
  --button-text white
  --button-font-size 18px
  --button-radius 8px
  --button-height 48px
  --float-button-text white
  --float-button-bg var(--button-bg)
  --navbar-bg-start var(--welcome-bg-start)
  --navbar-bg-end var(--welcome-bg-end)
  --navbar-text white
  --z-index-overlay 16
  --overlay-mask-bg rgba(0, 0, 0, 0.5)
  --overlay-bg white
  --overlay-user-bg var(--main-color)
  --overlay-user-text white
  --top-safe-area-height 24px
  --tabs-indicator-bg rgba(255, 255, 255, 0.5)
  // input-pad
  --input-pad-button-border-color #ddd
  --input-pad-amount-text #53a867
  --input-pad-date-text #333
  --input-pad-button-bg white
  --input-pad-button-bg-important var(--main-color)
  --input-pad-button-text-important white
  // tag-form
  --input-min-height 48px
  --input-border-color var(--main-color)
  --input-radius var(--button-radius)
  --input-shadow rgba(0, 0, 0, 0.25)
  --emoji-nav-emoji-selected #385ac1
  --emoji-nav-border-color #e0e0e0
  // tag
  --tag-bg #EFEFEF
